.monaco-workbench .part>.content{
  font-size: 15px;
  font-family: Maple Mono, ComicShannsMono Nerd Font Mono, 'Maple Hand';
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container  .monaco-icon-label-container {
  font-size: 15px !important;
  font-family: Maple Mono, ComicShannsMono Nerd Font Mono, 'Maple Hand';
}